@import "tailwindcss";
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* font-size: 18px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
